header{
    width: 100%;
    background: #014E56;
}

.header__inner{
    @include row;
    padding: {
        top: 50px;
        bottom: 50px;
    }
}

.header__link{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.header__list{
    @include row;
    margin-left: 40px;

    .header__item{
        margin-left: 40px;

        .header__item-link{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;

            &:hover{
                color: #F67E7E;
            }
        }
    }

}

.header__namber{
    margin-left: auto;
    padding: 10px 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;

    &:hover{
        background-color: #FFFFFF;
        color:#014E56;
    }
}

.header__btn{
    display: none;
    width: 20px;
    height: 3px;
    padding: 0;
    border: none;
    
    &::before,
    &::after,
    &-inner {
        border-radius: 50px;
        display: block;
        width: 103%;
        height: 3px;
        background: #FFFFFF;
        content: "";
        margin-bottom: 3px;
    }
}

@media only screen and (max-width:600px) {
    .header__list{
        display: none;
    }

    .header__namber{
        display: none;
    }

    .header__title{
        margin-bottom: 18px;
    }

    .header__btn{
        display: block;
        margin-left: auto;
    }
}